@import './reset'; 



// Variables SCSS
$color-header-bg: #000;
$color-background: #302f2ff3;
$color-footer-bg: #000;
$color-text: #f0e6d2;
$color-gold: #d4af37;
$color-button-connexion: #5e1006;
$color-button-register: #0a4e0a;
$color-contour-apropos: #fff;
$color-dark-background: #1a1919;
$color-text-aPropos: #f0f0f0;


