<footer class="social-media">
    <h2>Suivez la série sur les réseaux sociaux</h2>
    <a
      class="social-link facebook"
      href="https://www.facebook.com/KaamelottOff"
      target="_blank"
      ><i class="fab fa-facebook"></i> Facebook</a
    >
    <a
      class="social-link twitter"
      href="https://twitter.com/Kaamelott"
      target="_blank"
      ><i class="fab fa-twitter"></i> Twitter</a
    >
    <a
      class="social-link instagram"
      href="https://www.instagram.com/Kaamelott"
      target="_blank"
      ><i class="fab fa-instagram"></i> Instagram</a
    >
  </footer>
</body>
</html>