<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Découvrez l'univers de Kaamelott, la série culte d'Alexandre Astier. Explorez les personnages, les épisodes et bien plus sur notre site dédié."
    />
    <!-- Description du site -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />


<!-- Feuille CSS différente en fonction de la page -->

  <!-- Vérifie si la variable 'pageName' est définie et si sa valeur est "index" -->
  <!-- Si 'pageName' est "index", inclut la feuille de style spécifique à la page d'accueil -->
  <% if (typeof pageName !=="undefined" && pageName==="index" ) { %>
    <link rel="stylesheet" href="../css/index.css">

    <!-- Vérifie si la variable 'pageName' est définie et si sa valeur est "character" -->
    <!-- Si 'pageName' est "character", inclut la feuille de style spécifique à la page du catalogue -->
    <% } else if (typeof pageName !=="undefined" && pageName==="character" ) { %>
      <link rel="stylesheet" href="../css/character.css">

      <!-- Vérifie si la variable 'pageName' est définie et si sa valeur est "film" -->
      <!-- Si 'pageName' est "film", inclut la feuille de style spécifique à la page du produit -->
      <% } else if (typeof pageName !=="undefined" && pageName==="film" ) { %>
        <link rel="stylesheet" href="../css/film.css">


        <!-- Vérifie si la variable 'pageName' est définie et si sa valeur est "livres" -->
        <!-- Si 'pageName' est "livres", inclut la feuille de style spécifique à la page ontact -->
        <% } else if (typeof pageName !=="undefined" && pageName==="livres" ) { %>
          <link rel="stylesheet" href="../css/livres.css">



          <!-- Par défaut, inclut une feuille de style commune pour header et footer-->
          <% } else { %>
            <link rel="stylesheet" href="../css/style.css">
            <% } %>

















    <script src="../js/burger.js" defer></script>
    <title><%= title || 'Kaamelott' %></title>
  </head>

  <body>
    <header class="header">
      <div class="logo-title">
        <img
          class="header_logo"
          src="../assets/images/logo.webp"
          alt="logo de la série Kaamelott"
        />
        <img
          class="header_title"
          src="../assets/images/Kaamelott_Logo.webp"
          alt="Titre de la série"
        />
      </div>

      <nav class="navbar">
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>