<%- include ('partials/header', { title: 'Le film' , pageName:'film'}) %>

  <ul class="nav-links">
    <li><a href="/">Accueil</a></li> 
    <li><a href="/Les-personnages">Les personnages</a></li> 
    <li><a href="/les-livres">Les livres</a></li>
  </ul>
</nav>

</header>

<!-- fin du header -->


















<%- include ('partials/footer') %>