<%- include ('partials/header', { title: 'Les livres' , pageName:'livres'}) %>

  <ul class="nav-links">
    <li><a href="/">Accueil</a></li> 
    <li><a href="/Les-personnages">Les personnages</a></li> 
    <li><a href="/le-film">Le film</a></li>
  </ul>
</nav>

</header>

<!-- fin du header -->












<%- include ('partials/footer') %>