@use '../../stylesCommun/commun.scss' as commun;  // Import du fichier commun avec alias

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  height: 100vh; /* Empêche le débordement vertical */
}

.main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background: commun.$color-background;
  color: commun.$color-text;
  padding: 0rem;
  margin: 0rem;
}

.main_top_section {
  display: flex;
  overflow: hidden;
  max-height: calc(100vh * 0.75); /* 75% de la hauteur de la fenêtre */
}

/* Section gauche (présentation et titre) */
.main_left {
  width: 50vw;
  height: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-bottom: 0;

  h1 {
    text-align: center;
    font-size: 2.8rem;
    color: commun.$color-gold;
    border-bottom: 1px solid commun.$color-gold;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

/* Section droite (image) */
.main_right {
  width: 50vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Section d'information */
.info {
  color: commun.$color-gold;
  border: 1px solid commun.$color-contour-apropos;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background: commun.$color-dark-background;

  h2 {
    color: commun.$color-gold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid commun.$color-gold;
    padding-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: commun.$color-text-aPropos;
  }
}

/* Container d'image pour l'effet de survol */
.image-container {
  position: relative;
  width: 100%;
  max-width: 550px; // Ajuster selon les besoins
  aspect-ratio: 3 / 4; // Ajuster selon le ratio des images
  height: 80%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; // Assure que les images s'ajustent dans le container
  transition: opacity 0.3s ease-in-out; // Transition en douceur au survol
  margin: 0;
}

.main-image {
  opacity: 1;
  z-index: 1; // Assure que l'image principale est au-dessus au début
}

.hover-image {
  opacity: 0;
  z-index: 0; // Assure que l'image au survol est en dessous initialement
}

/* Effet de survol : afficher l'image au survol, masquer l'image principale */
.image-container:hover .main-image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
  z-index: 1; // Amène l'image au survol au premier plan lorsque survolé
}
